{% extends 'layout.html.twig' %}

{% form_theme formQuizQuestion 'bootstrap_4_layout.html.twig' %}

{% block menu %}
    {% include "_menu.html.twig" with {
        'active': 'home'
    } %}
{% endblock %}

{% block main_content %}
    <div class="create-question">
        <h1>Entrez une question</h1>
        {{ form_start(formQuizQuestion) }}
        
        {{ form_widget(formQuizQuestion.texte)}}
        <br><br><br>
        <h1>Entrez les réponses associées</h1>
        {% for reponse in formQuizQuestion.reponses %}
            {{ form_row(reponse.texte) }}
            {{ form_row(reponse.juste) }}
            <hr>
        {% endfor %}

        <div class="btn-form">
            {{ form_row(formQuizQuestion.add) }}
            {{ form_row(formQuizQuestion.end) }}
        </div>

        {{ form_end(formQuizQuestion) }}
    </div>
{% endblock %}
