{% extends 'layout.html.twig' %}

{% form_theme formQuizQuestion 'bootstrap_4_layout.html.twig' %}

{% block menu %}
    {% include "_menu.html.twig" with {
        'active': 'home'
    } %}
{% endblock %}

{% block main_content %}
    <div class="content">
        <div class="create-question">
            <h1>Entrez une question</h1>
            {{ form_start(formQuizQuestion) }}
            
            {{ form_widget(formQuizQuestion.texte)}}
            <br><br><br>
            <h1 class="test">Entrez les réponses associées</h1>
            {% for reponse in formQuizQuestion.reponses %}
                {{ form_row(reponse.texte) }}
                {{ form_row(reponse.juste) }}
                <br><br>
            {% endfor %}

            <div class="btn-form">
                {% if edit %}
                    <a class="form-group" href="{{ path('edit-quiz', {'id': quiz.id }) }}">
                        <button type="button" class="btn btn-danger btn-question">Annuler</button>
                    </a>
                    {{ form_row(formQuizQuestion.add, { 'label': 'Enregistrer' }) }}              
                {% else %}
                    {{ form_row(formQuizQuestion.add, { 'label': 'Ajouter la question' }) }}
                {% endif %}
            </div>

            
        </div>
        <div class="separator">
            <hr>
        </div>
        <div class="preview">
            <h1>Aperçu de votre quiz</h1>
            <hr>
            <h1> {{ quiz.titre }} </h1>
            <p>  {{ quiz.description }} </p>
            <div class="content-scroll">
                <div class="scroll">
                    <ul>
                        {% for question in quiz.questions %}
                        <li class="question"> {{question.texte}} </li>
                        <br>
                            <ul>
                                {% for reponse in question.reponses %}
                                    <li class="reponse"><input type="checkbox" disabled=true> {{ reponse.texte }} </li>
                                {% endfor %}
                            </ul>
                            <br><br>
                        {% endfor %}
                    </ul>
                </div>
            </div>
             <div class="btn-form">
                {% if not edit %}
                    <a class="form-group" href="{{ path('remove-quiz', {'id': quiz.id }) }}">
                        <button type="button" class="btn btn-danger btn-question">Annuler la création</button>
                    </a>
                {% endif %}
                <a class="form-group" href="{{ path('show_quiz', {'id': quiz.id }) }}">
                    <button type="button" class="btn btn-success btn-question">Terminer</button>
                </a>
            </div>
        </div>
    </div>
    {{ form_end(formQuizQuestion) }}
{% endblock %}
