{% extends 'layout.html.twig' %}

{% form_theme formQuiz 'bootstrap_4_layout.html.twig' %}

{% block menu %}
    {% include "_menu.html.twig" with {
        'active': 'create'
    } %}
{% endblock %}

{% block main_content %}
    <div class="create-quiz">
        <h1>Création de votre Quiz</h1>
        {{ form_start(formQuiz) }}

        {{ form_row(formQuiz.titre) }}
        {{ form_row(formQuiz.description) }}
        {{ form_row(formQuiz.deadLine)}}
        {{ form_row(formQuiz.end)}}

        <div class="btn-form">
            {{ form_row(formQuiz.Suivant) }}
        </div>

        {{ form_end(formQuiz) }}
    </div>
{% endblock %}
