{% extends 'layout.html.twig' %}

{% block menu %}
    {% include "_menu.html.twig" with {
        'active': 'home'
    } %}
{% endblock %}

{% block main_content %}
    <div class="display-quiz">
        <div class="bloc-quiz">
            <h1> {{ quiz.titre }} </h1>
            <p>  {{ quiz.description }} </p>
            <p class="share-code"> Code de partage : {{ quiz.id }}</p>
            <ul>
                {% for question in quiz.questions %}
                <li class="question"> {{question.texte}} </li>
                <br>
                    <ul>
                        {% for reponse in question.reponses %}
                            <li class="reponse"><input type="checkbox" disabled=true> {{ reponse.texte }} </li>
                        {% endfor %}
                    </ul>
                    <br><br>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
