{% extends 'layout.html.twig' %}

{% block menu %}
    {% include "_menu.html.twig" with {
        'active': 'quiz'
    } %}
{% endblock %}

{% block main_content %}
    <div class="display-quiz">
        <div class="bloc-quiz">
            <h1> {{ quiz.titre }} </h1>
            <p>  {{ quiz.description }} </p>
            <p class="share-code"> Code de partage : {{ codeHash }}</p>
            {% if (quiz.deadLine == null) %}
            <p> Ce quiz ne possède pas de date finale </p>
            {% else %}
            <p> Ce quiz prend fin le {{quiz.deadLine|date('d-m-Y') }}</p>
            {% endif %}
            <ul>
                {% for question in quiz.questions %}
                <li class="question"> {{question.texte}} </li>
                <br>
                    <ul>
                        {% for reponse in question.reponses %}
                            <li class="reponse"><input type="checkbox" disabled=true> {{ reponse.texte }} </li>
                        {% endfor %}
                    </ul>
                    <br><br>
                {% endfor %}
            </ul>
        </div>
        <a href="/quiz"><button class="btn btn-info btn-create retour">Retour</button></a>
    </div>
{% endblock %}
