{% extends 'layout.html.twig' %}

{% block menu %}
    {% include "_menu.html.twig" with {
        'active': 'quiz'
    } %}
{% endblock %}

{% block main_content %}
    <div class="bloc-list">
        <h1>Liste des quiz déja créés</h1>
        <div class="list-quiz">
            <ul class="list-group list">
                {% if quiz_list is empty %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <p>Vous n'avez pas encore créé de Quiz</p>
                    </li>
                {% else %}
                    {% for quiz in quiz_list %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <p>{{quiz.titre}}</p>
                            <div>
                                <a href="quiz/{{quiz.id}}" data-toggle="tooltip" title="Voir le quiz">
                                    <i class="fas fa-eye"></i>
                                </a>
                                <a href="edit/{{quiz.id}}" data-toggle="tooltip" title="Modifier le quiz">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="statistique/{{quiz.id}}" data-toggle="tooltip" title="Voir les statistiques">
                                    <i class="fas fa-chart-pie"></i>
                                </a>
                                <a href="/remove/{{quiz.id}}" data-toggle="tooltip" title="Supprimer le quiz">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
            <a href="/create"><button class="btn btn-success btn-create">Créer un Quiz</button></a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip(); 
        });
    </script>
{% endblock %}
