<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a href="{{ path('home') }}" class="nav-link">Accueil</a>
    </li>
    {% if not app.user %}
    <li class="nav-item">
        <a href="{{ path('security_registration') }}" class="nav-link">Inscription</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('security_login') }}" class="nav-link">Connexion</a>
    </li>
    {% else %}
        {% if "ROLE_USER" in app.user.roles %}
            <li class="nav-item">
                <a href="{{ path('search_quiz') }}" class="nav-link">Répondre à un quiz</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a href="{{ path('search_quiz') }}" class="nav-link">Répondre à un quiz</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('create') }}" class="nav-link">Créer un quiz</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('quiz') }}" class="nav-link">Liste des quiz</a>
            </li>
        {% endif %}
    <li class="nav-item">
        <a href="{{ path('security_logout') }}" class="nav-link">Deconnexion</a>
    </li>
    {% endif %}
</ul>