<ul class="navbar-nav ml-auto">
    {% for link in header_menu_all %}
        <li {% if link.route == active %}class="active"{% endif %}>
            <a class="nav-link" href="{{ url(link.route) }}">
                {{ link.label }}
            </a>
        </li>
    {% endfor %}
    {% if not app.user %}
        {% for link in header_menu_deco %}
            <li {% if link.route == active %}class="active"{% endif %}>
                <a class="nav-link" href="{{ url(link.route) }}">
                    {{ link.label }}
                </a>
            </li>
        {% endfor %}
    {% else %}
        {% if "ROLE_USER" in app.user.roles %}
            {% for link in header_menu_eleve %}
                <li {% if link.route == active %}class="active"{% endif %}>
                    <a class="nav-link" href="{{ url(link.route) }}">
                        {{ link.label }}
                    </a>
                </li>
            {% endfor %}
        {% else %}
            {% for link in header_menu_prof %}
                <li {% if link.route == active %}class="active"{% endif %}>
                    <a class="nav-link" href="{{ url(link.route) }}">
                        {{ link.label }}
                    </a>
                </li>
            {% endfor %}
        {% endif %}
        {% for link in header_menu_co %}
            <li {% if link.route == active %}class="active"{% endif %}>
                <a class="nav-link" href="{{ url(link.route) }}">
                    {{ link.label }}
                </a>
            </li>
        {% endfor %}
    {% endif %}
</ul>